<div class="page">
  <div class="profile-pic">
    <img src="/assets/markus.jpg" />
  </div>
  <div class="info-box">
    <h2 class="name">Markus Bergum Hilbertsen</h2>
    <div class="description">
      <p>Hello!</p>
      <p>
        I am currently persuing my Masters degree in Computer Science at The
        Arctic University of Norway. Some of my hobbies include: training,
        climbing (7a/v6) and programming.
      </p>
    </div>
    <div class="links">
      <a class="link-item" href="https://github.com/markhilb">
        <fa-icon [icon]="faGithub" size="2x"></fa-icon>
      </a>
      <a class="link-item" href="https://linkedin.com/in/markus-hilbertsen">
        <fa-icon [icon]="faLinkedin" size="2x"></fa-icon>
      </a>
      <a class="link-item" href="mailto:markus@hilbertsen.com">
        <fa-icon [icon]="faEnvelope" size="2x"></fa-icon>
      </a>
    </div>
  </div>
</div>
