<div class="page">
  <div class="profile-pic">
    <img src="/assets/kristian.jpg" />
  </div>
  <div class="info-box">
    <h2 class="name">Kristian Bergum Hilbertsen</h2>
    <div class="description">
      <p>Greetings!</p>
      <p>
        I have a Masters degree in Mathematics from The Arctic University of
        Norway
        <a href="https://munin.uit.no/handle/10037/20859">[1]</a>
        . Currently looking for a job in the Tromsø region.
      </p>
    </div>
    <div class="links">
      <a
        class="link-item"
        href="https://facebook.com/kristianbergum.hilbertsen"
      >
        <fa-icon [icon]="faFacebook" size="2x"></fa-icon>
      </a>
      <a class="link-item" href="https://instagram.com/kristianhilbertsen/">
        <fa-icon [icon]="faInstagram" size="2x"></fa-icon>
      </a>
      <a class="link-item" href="mailto:">
        <fa-icon [icon]="faEnvelope" size="2x"></fa-icon>
      </a>
      <a class="link-item" href="https://munin.uit.no/handle/10037/20859">
        <fa-icon [icon]="faFileAlt" size="2x"></fa-icon>
      </a>
    </div>
  </div>
</div>
