<div class="page">
  <div class="profile-pic">
    <img src="/assets/andreas.png" />
  </div>
  <div class="info-box">
    <h2 class="name">Andreas Bergum Hilbertsen</h2>
    <h2 class="number">#55</h2>
    <div class="description">
      <p>Hi!</p>
      <p>
        I am a future NHL player, currently playing for the Narvik Hockey
        A-Team. Some of my hobbies include: training, gaming and playing hockey.
      </p>
    </div>
    <div class="links">
      <a class="link-item" href="https://facebook.com/andreas.hilbertsen">
        <fa-icon [icon]="faFacebook" size="2x"></fa-icon>
      </a>
      <a
        class="link-item"
        href="https://instagram.com/andreas_hilbertsen/?hl=nb"
      >
        <fa-icon [icon]="faInstagram" size="2x"></fa-icon>
      </a>
      <a
        class="link-item"
        href="https://www.eliteprospects.com/player/655360/andreas-bergum-hilbertsen"
      >
        <fa-icon [icon]="faUser" size="2x"></fa-icon>
      </a>
      <!-- <a class="link-item" href="mailto:"> -->
      <!--   <fa-icon [icon]="faEnvelope" size="2x"></fa-icon> -->
      <!-- </a> -->
    </div>
  </div>
</div>
