<div class="page">
  <div class="profile-pic">
    <img src="../../../assets/profile-pictures/markus.jpeg" />
  </div>
  <div class="info-box">
    <h2 class="name">Andreas Bergum Hilbertsen</h2>
    <div class="description">
      <p>Hi!</p>
      <p>
        I am a future NHL player, currently playing for Frisk Asker in Oslo,
        Norway. Some of my hobbies include: training, gaming and playing hockey.
      </p>
      <p>
        However, most importantly I am smaller than my big brother
        <a href="https://hilbertsen.com" style="text-decoration: underline">
          Markus
        </a>
      </p>
    </div>
    <div class="links">
      <a class="link-item" href="https://facebook.com/andreas.hilbertsen">
        <fa-icon [icon]="faFacebook" size="2x"></fa-icon>
      </a>
      <a
        class="link-item"
        href="https://instagram.com/andreas_hilbertsen/?hl=nb"
      >
        <fa-icon [icon]="faInstagram" size="2x"></fa-icon>
      </a>
      <a class="link-item" href="mailto:">
        <fa-icon [icon]="faEnvelope" size="2x"></fa-icon>
      </a>
    </div>
  </div>
</div>
