@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

html,
body {
  height: 100vh;
  width: 100%;
  margin: 0;
  scroll-behavior: smooth;

  --foreground: #ffffff;
  --background: #1c1c1c;
  --background-4: #202020;
  --background-5: #2c2c2c;
  --background-6: #202020;
  --background-8: #252525;
  --background-12: #2e2e2e;
  --background-16: #383838;

  --high: 87%;
  --medium: 60%;
  --low: 38%;

  color: var(--foreground);
  background-color: var(--background);
  font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 10px;
}

.page {
  display: block;
  width: 100%;
  height: fit-content;
  min-height: calc(100vh - 40px);
  padding-top: 40px;
}

p,
h1,
h2,
h3,
.link-item {
  opacity: var(--high);
}

a {
  text-decoration: inherit;
  color: lightblue;
}

fa-icon {
  color: white;
}
