<button id="hamburger" [class.open]="open" (click)="toggleMenu()">
  <div></div>
  <div></div>
  <div></div>
  <div></div>
</button>

<div class="overlay" [class.open]="open" (click)="toggleMenu()"></div>
<div id="menu" [class.open]="open">
  <div class="container">
    <div class="pages">
      <a routerLink="/">Markus</a>
      <a routerLink="/andreas">Andreas</a>
      <a routerLink="/kristian">Kristian</a>
    </div>
    <div class="applications">
      <p>Applications</p>
      <a href="https://vindskjerming.hilbertsen.com">Vindskjerming</a>
      <a href="https://calendar.hilbertsen.com">Calendar</a>
      <a href="https://timer.hilbertsen.com">Timer</a>
    </div>
  </div>
</div>
