#hamburger {
  position: fixed;
  top: 0;
  z-index: 10;

  div {
    width: 30px;
    height: 5px;
    background-color: black;
    border-radius: 5px;
    margin: 6px 6px;
  }
}

#hamburger:hover {
  cursor: pointer;
}

#menu {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 30%;
  z-index: 5;
  background-color: var(--dark-background);
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 4;
}

.section {
  margin-top: 4em;

  .header {
    margin-left: 1em;
  }

  ul {
    list-style-type: none;

    li {
      margin: 0.5em auto;
    }
  }
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}
