<button
  id="hamburger"
  [class.not-open]="!open"
  [class.white-background]="whiteBg"
  (click)="toggleMenu()"
>
  <div [class.open]="open"></div>
  <div [class.open]="open"></div>
  <div [class.open]="open"></div>
</button>

<div class="overlay" [class.open]="open" (click)="toggleMenu()"></div>
<div id="menu" [class.open]="open">
  <div class="items">
    <a><h2 (click)="navigate('/')">Markus</h2></a>
    <!-- <a><h2 (click)="navigate('/andreas')">Andreas</h2></a> -->
    <!-- <a><h2 (click)="navigate('/kristian')">Kristian</h2></a> -->
  </div>
</div>
